In [1]:
import pandas as pd

In [4]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

s = pd.Series([4, 8, 15, 16, 23, 42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
# variable print it.

l = [2,34, 23, 11, 10, 9, 4, 5, 6, 7]
s = pd.Series(l)
print(s)

0     2
1    34
2    23
3    11
4    10
5     9
6     4
7     5
8     6
9     7
dtype: int64

In [6]:
# Q3. Create a Pandas DataFrame that contains the following data Then, print the DataFrame

d = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}

df = pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example


## A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular
## data structure with labeled axes (rows and columns). 
## Each column in a DataFrame can have a different data type (e.g., integers, floats, strings).

## On the other hand, a Series in pandas is a one-dimensional labeled array capable of holding
## any data type (integer, string, float, python objects, etc.). It is similar to a column in a table.

s = pd.Series([10, 20, 30, 40, 50])
print(s)
## here s is Series

d = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}

df = pd.DataFrame(d)
print(df)
## here df is a dataframe

0    10
1    20
2    30
3    40
4    50
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?

#  Here are some common functions
# df.head(), df.tail(), df.columns(), df.dropna(), df.drop(), df.fillna(), df.drop_duplicates

# to see first n numbers of rows we can use df.head()
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [10]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## In pandas, both Series and DataFrame are mutable in nature

In [11]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.


names = pd.Series(['Alice', 'Bob', 'Charlie'], index=[0, 1, 2])
ages = pd.Series([24, 27, 22], index=[0, 1, 2])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'], index=[0, 1, 2])

# Creating DataFrame
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}
df = pd.DataFrame(data)
print(df)

## Creating Series: Each Series (names, ages, cities) contains data for a specific column.
## Combining Series: We pass a dictionary to pd.DataFrame(), where keys are column names, 
## and values are the Series. Pandas aligns the data by index, so each Series should have the same length.

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago